html, body {overflow-x: hidden;}
body {
	width: 100%;
	height: 100%;
	font-family: 'Barlow', sans-serif;
	overflow-x: hidden;
	background-color:#F8F8F8;
	font-size: 16px;
	font-weight:400;
	color: #8F8F8F;
}
body button.focus, .btn:focus {
    outline: none !important;
    outline-offset: 0 !important;
}
ul, ol, *{
	margin:0;
	padding:0;
}
a {
	text-decoration: none !important;
	display:inline-block;
	transition:ease-in-out 0.3s;
}
body, h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
img {
	max-width: 100%;
}
button{
	outline:none !important;	
}
::placeholder{
	color: #8F8F8F !important;
}
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #fff; 
}
::-webkit-scrollbar-thumb {
  background: #24356C;
}
::-webkit-scrollbar-thumb:hover {
  background: #24356C;
}

/* Header css start here ===== */
.header {
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 999;
	border-bottom: 1px solid #eee;
}
.header .navbar {
    padding: 0;
    background: #fff;
}
.header .navbar-brand {
    background: #24356C;
    padding: 15px 11px 19px 11px;
    margin-right: 45px;
	transition:ease-in-out 0.3s;
	width: 63px;
	height: 77px;
}
.header .logo_brand {
    padding: 16px 3px 19px 3px;
    width: 230px;
}
.header .navbar-brand img {
    max-height: 42px;
}
.header .logo_brand .logo, .header .navbar-brand .logo_full{
	visibility:hidden;
	opacity:0;
	width:0;
}
.header .logo_brand .logo_full {
	visibility:visible;
	opacity:inherit;
	width:auto;
}
.header .breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
}
.header .breadcrumb-item+.breadcrumb-item::before {
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #8F8F8F;
    border-right: 2px solid #8F8F8F;
    padding: 0;
    transform: rotate(-45deg);
    margin: 0 12px 0 19px;
}
.header .breadcrumb-item a, .header .breadcrumb-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #8F8F8F !important;
    text-transform: uppercase;
}
.header .navbar-nav > li {
    padding: 0 25px;
    line-height: normal;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    align-items: center;
}
.header .navbar-nav li > a {
    padding: 0 !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #C3C3C3 !important;
	position: relative;
	transition:ease-in-out 0.3s;
}
.header .navbar-nav > li a:hover, .header .breadcrumb-item a:hover{
	color: #24356C !important;
}
.header .navbar-nav .dropdown {
    padding-left: 0;
}
.header .navbar-nav > li img, .breadcrumb-item a img {
    vertical-align: middle;
	transition:ease-in-out 0.3s;
}
.notifi .nav-link span {
    display: inline-block;
    position: absolute;
    width: 12.50px;
    height: 12.50px;
    border-radius: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    background: #24356C;
    text-align: center;
    right: 0;
    top: -7px;
    z-index: 9;
    left: 0;
    margin: 0 auto;
}
.profile_pic {
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 15px;
    min-width: 48px;
}
.header .navbar-nav > li .dropdown-toggle:after {
    width: 10px;
    height: 10px;
    border: none;
    border-bottom: 2px solid #C3C3C3;
    border-right: 2px solid #C3C3C3;
    padding: 0;
    transform: rotate(45deg);
    margin-left: 10px;
}
.header .navbar-nav > .active img, .header .navbar-nav > li a:hover img, .header .breadcrumb-item a :hover img {
    filter: inherit;
    transition: ease-in-out 0.3s;
    opacity: inherit;
}
.user_dropdwn .dropdown-menu {
    left: auto;
    right: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0;
    min-width: 175px;
    top: 68px;
    padding: 15px 0;
    margin: 0;
}
.user_dropdwn .dropdown-menu a.dropdown-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-transform: uppercase;
    color: #8F8F8F !important;
    padding: 0 10px 0 35px !important;
}
.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out .5s;
}
.dropdown-menu.show {
    visibility: visible;
    opacity: 1;
}
.gray_icon{
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);
	-o-filter: brightness(0.8);
	-ms-filter: brightness(0.8);
	filter: brightness(0.8);
}
.gray_blue{
	-moz-filter: grayscale(100%) brightness(100%) contrast(0%);
	-o-filter: grayscale(100%) brightness(100%) contrast(0%);
	-ms-filter: grayscale(100%) brightness(100%) contrast(0%);
	-webkit-filter: grayscale(100%) brightness(100%) contrast(0%);
	filter: grayscale(100%) brightness(100%) contrast(0%);
    opacity: 0.6;
}
.gray_blue:hover, .gray_icon:hover{
	filter:inherit;
	opacity:inherit;
}
.notifiDrop {
    margin: 0;
    padding: 0;
    border: none;
    right: 20px;
    left: auto;
    min-width: 250px;
    max-width: 250px;
    border-radius: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.shdul_icon {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #24356C;
    margin: 12px 12px 0;
    display: block;
}
.shdul_icon img {
    margin-right: 8px;
}
.shdul_list {
    padding: 12px 12px 5px;
    border-bottom: 1px solid #C3C3C3;
}
.shdul_list p {
    margin: 0 0 3px;
    font-size: 15px;
    line-height: 18px;
    color: #8F8F8F;
}
.shdul_list small {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #C3C3C3;
}
.shdul_list .media-right {
    min-width: 22px;
}
.manage_all {
    padding: 12px;
}
.header .navbar-toggler {
    border: none;
}
/* Header css end here ===== */

/* Sidebar css start here ===== */
.side_bar {
    position: fixed;
    top: 77px;
    left: 0;
    width: 63px;
    transition: ease-in-out 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 77px);
    background: #FFFFFF;
    box-shadow: 5px 0px 5px rgba(54, 131, 188, 0.1);
    z-index: 99;
}
.sidebar_full {
	width: 230px;
}
.side_menu {
    width: 63px;
    white-space: nowrap;
    background: #FFFFFF;
    box-shadow: 5px 0px 5px rgba(54, 131, 188, 0.1);
    padding: 60px 9px 80px;
    position: relative;
    z-index: 9;
    height: 100%;
}
.side_menu li {
    margin-bottom: 30px;
}
.side_menu li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8F8F8F;
	transition:ease-in-out 0.3s;
}
.side_menu li a .menu_cricle {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
	transition:ease-in-out 0.3s;
	margin-right: 28px;
}
.side_menu li a .menu_cricle img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.side_menu .active a .menu_cricle, .side_menu li a:hover .menu_cricle  {
    background: #24356C;
}
.side_menu .active a .menu_cricle img, .side_menu li a:hover .menu_cricle img {
    filter: inherit;
	transition: ease-in-out 0.3s;
}
.expander img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.expander_icon {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 45px;
    margin: 0 auto;
}
.expander_icon li {
    margin: 0 !important;
}
.expander_flip img {
	-webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* Sidebar css end here ===== */

/* main-content css start here ===== */
.main_sec {
    padding: 77px 0 0 63px;
	transition: ease-in-out 0.3s;
}
.mainpadd230{padding-left:230px;}
.right_cntnt {
    width: 100%;
    padding: 20px 40px;
	transition: ease-in-out 0.3s;
}


/*===== Dashboard page css start here =====*/
.dash_board .right_cntnt {
    padding: 30px 100px;
    position: relative;
}
.dash_board.mainpadd230 .right_cntnt {
    padding: 30px 50px;
}
.dashMiniIcon {
    position: absolute;
    right: 10px;
    top: 10px;
}
.row_gap48{
	margin: 0 -24px;
}
.row_gap48 > div{
	padding: 0 24px;
}
.dash_board .row_gap48:not(:last-child){
	margin-bottom:30px;
}
.smsent_box {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
}
.smsent_box h4 {
    font-weight: normal;
    font-size: 32px;
    line-height: 25px;
    color: #8F8F8F;
    margin: 5px 0 15px;
    font-family: 'BebasNeue-Regular';
}
.smsent_box h4 span {
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    padding: 0 5px;
    line-height: 18px;
}
.smsent_box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #C3C3C3;
    margin: 0;
}
.smsent_box p span {
    font-weight: bold;
    padding-left: 2px;
}
.smsent_box .text-right span {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 2px;
    background: #C3C3C3;
    color: #fff;
    border-radius: 5px;
    margin-left: 5px;
    min-width: 38px;
    text-align: center;
    font-weight: 800;
    font-size: 12px;
    line-height: 10px;
    font-family: 'Gothic A1', sans-serif;
}
.smsent_box .active span {
    background: #24356C;
}
.chart_box {
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}
.dash_month {
    margin-bottom: 15px;
}
.chart_box h5 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #C3C3C3;
}
.year_head {
    white-space: nowrap;
}
.dash_month a {
    vertical-align: middle;
    margin: 0 5px;
}
.dash_month span {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #414D55;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
}
.dash_month a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-top: 1px solid #8F8F8F;
    border-right: 1px solid #8F8F8F;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dash_month .next_year:before {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}
.chart_radio label {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0.416667px;
    text-transform: uppercase;
    color: #8F8F8F;
    margin: 0 30px 0 0;
    white-space: nowrap;
}
.chart_radio span {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid #E4EAF0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.chart_radio .darkblueBdr{
    border-color: #24356C;
}
.chart_radio .darkgrayBdr {
    border-color: #8F8F8F;
}
.chart_radio .grayBdr {
    border-color: #C3C3C3;
}
.tool_bar {
    margin-top: 20px;
    text-align: left;
}
.tool_bar label {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #8F8F8F;
    margin: 0 30px 5px 0;
    white-space: nowrap;
}
.tool_bar label span {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
}
.blueBg {
    background: #24356C;
}
.darkgrayBg {
    background: #8F8F8F;
}
.grayBg {
    background: #C4C4C4;
}
.lighgrayBg {
    background: #E4EAF0;
}
.qus_icon {
    min-width: 22px;
    height: 22px;
    background: #24356C;
    border-radius: 100%;
    display: inline-block;
	text-align:center;
}
.qus_icon img {
    margin-top: -5px;
}
.dash_month .qus_icon:before{
	display:none;
}
.online_cricle {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #7DF345;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.loc_bar .priceName {
    margin: 0;
}
.loc_bar .priceName label {
    margin: 0;
    width: auto;
    line-height: 20px;
    font-weight: normal;
    font-size: 15px;
    color: #8F8F8F;
}
.loc_bar .priceName span {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    color: #8F8F8F;
    font-family: 'Barlow', sans-serif;
}
.btn {
    background: #24356C;
    border-radius: 50px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    padding: 7px 15px;
    border-color: #24356C;
    text-align: center;
    height: 34px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.btn:hover{
	color:#fff;
	background: #344579;
}
.white_btn, .cancel_btn{
	border-color: #fff;
	background: #fff;
	color: #C3C3C3;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.white_btn:hover{
	background: #24356C;
	border-color: #24356C;
	color: #fff;
}
.white_btn:hover .gray_icon {
    filter: inherit;
}
.btn img {
    vertical-align: text-top;
    margin-right: 9px;
}
.perfom_btn {
    margin-bottom: 10px;
}
.clndr_btn {
    padding: 5px 15px;
    line-height: 0;
}
.clndr_btn img{
    margin: 0;
}
.loc_bar .progrList:not(:last-child) {
    margin-bottom: 20px;
}
.loc_bar span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #414D55;
    font-family: Rubik;
}
.prog_ress {
    width: 100%;
    background: #E4EAF0;
    border-radius: 50px;
    height: 6px;
    margin-top: 5px;
}
.prog_ress .progress-bar {
    background: #24356C;
    border-radius: 50px; 
	-webkit-transition: width 1.5s ease-in-out;
	transition: width 1.5s ease-in-out;
}
.loc_bar label {
    margin: 0 0 0 20px;
    line-height: 10px;
    width: 80px;
    font-size: 14px;
}
.tooltip{ 
  position:relative;
  float:right;
}
.tooltip > .tooltip-inner {
    background: rgba(36, 53, 108, 0.4);
    padding: 4px 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 36px;
}
.popOver + .tooltip > .tooltip-arrow {border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #eebf3f;}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    bottom: 0;
    border-width: 0 2.5px 4px;
    border-bottom-color: #b0b6ca;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    top: 0;
    border-width: 2.5px 4px 0;
    border-top-color: #b0b6ca;
}
.tooltip .arrow {
    width: 5px;
    height: 6px;
}
.bs-tooltip-top .arrow{
	width: 5px;
    height: 7px;
}
/*===== Dashboard page css end here =====*/

/*===== Users page css start here =====*/
.maxWidth11 {
    max-width: 1100px;
}
.users_serch {
    margin-top: 40px;
}
.search_smdiv {
    max-width: 270px;
    min-width: 270px;
}
.select_width {
    max-width: 205px;
}
.search_form .form-control, .input_form {
    font-weight: normal;
    font-size: 16px;
    height: 34px !important;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 4px 42px 8px 28px;
    color: #8F8F8F;
    -webkit-appearance: none;
    border: 1px solid #fff;
}
select.form-control {
    background:#fff url(../img/select_arrow.svg) no-repeat;
    background-position: center right 20px;
}
.searchLgdiv {
    position: relative;
}
.searchLgdiv .search-box {
    background: #fff !important;
}
.searchLgdiv .serch_btn {
    position: absolute;
    right: 15px;
    top: 12px;
    background: none;
    border: none;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}
.close-icon {
    border: 1px solid #3683BC;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    right: 45px;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    padding: 0;
    border-radius: 100%;
    margin: auto 0;
    color: #3683BC;
    font-weight: 600;
    font-size: 11px;
    outline: none !important;
}
.close-icon:after {
    content: "X";
    display: block;    
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.search_sm .serch_btn {
    top: 3px;
}

.table_data table {
    margin: 0;
}
.table_data tbody {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
.table_data tr th {
    white-space: nowrap;
}
.table_data tr th, .table_data tr td {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    border: none;
    padding: 17px 20px;
    transition: ease-in-out 0.2s;
	color: #8F8F8F;
}
.table_data tr:first-child td {
    padding-top: 30px;
}
.table_data tr th:before, .table_data tr th:after {
    display: none !important;
}
.user_table tr th {
    padding: 17px 15px;
}
.user_table tr td {
    padding: 27px 15px;
    border-bottom: 1px dashed #C3C3C3;
}
.user_table .table tr td:last-child {
    min-width: 220px;
}
.table_data tr:last-child td {
    padding-bottom: 30px;
    border: none;
}
.table_data tr td p {
    font-size: 15px;
    line-height: 18px;
    color: #C3C3C3;
    margin: 0;
}
.font18{font-size:18px;}
.short_arrow {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-left: 15px;
}
.short_arrow:before, .short_arrow:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 0.3;
    content: "";
    right: 0;
}
.short_arrow:before {
    border-bottom: 5px solid #848484;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    bottom: 5px;
}
.short_arrow:after {
    border-top: 5px solid #848484;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    bottom: -2px;
}
.sorting_asc .short_arrow:before, .sorting_desc .short_arrow:after {
    opacity: 1;
}
.dataTables_wrapper > .row:first-child, .dataTables_wrapper > .row:last-child .col-sm-12.col-md-5 {
    display: none;
}
.dataTables_wrapper .row {
    margin: 0;
}
.dataTables_wrapper > .row:last-child>div {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.dataTables_wrapper .row > div {
    padding: 0;
}
.main_pagination {
    margin: 20px 0 30px 0;
}

.main_pagination ul li a {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 50px;
    height: 41px;
    width: 41px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    margin: 0 4px;
}
.main_pagination li.active .page-link {
    background-color: #C4C4C4;
    border-color: #C4C4C4;
}
.main_pagination li:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.main_pagination li:first-child .page-link, .main_pagination li:last-child .page-link {
    background: none;
    box-shadow: none;
    width: auto;
    font-size: 0;
}
.dataTables_paginate .previous .page-link:after, .dataTables_paginate .next .page-link:after {
    content: "";
    border-bottom: 2px solid #C4C4C4;
    border-left: 2px solid #C4C4C4;
    position: absolute;
    transform: rotate(45deg);
    height: 12px;
    width: 12px;
    left: 0;
    transition: ease-in-out 0.2s;
}
.dataTables_paginate .next .page-link:after {
    border: none;
    border-top: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
    position: absolute;
    left: auto;
    right: 0;
}
.no-wrap {
    white-space: nowrap;
}
.icon_space {
    margin: 0 5px;
}
.view_icon {
    min-width: 25px;
}
.action_btn .btn {
    margin-right: 15px;
}
/*===== Users page css end here =====*/

/*===== Users-details page css start here =====*/
.sett_row {
    margin: 0 -15px;
}
.sett_row > div {
    padding: 0 15px;
}
.setting_mnu {
    min-width: 160px;
    max-width: 160px;
}
.right_box {
	width: calc(100% - 160px);
}
.setting_mnu ul li {
    margin-bottom: 20px;
}
.setting_mnu li a {
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    text-align: center;
    color: #8F8F8F;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 15px;
}
.setting_mnu .active a, .setting_mnu li a:hover {
    background: #24356C;
    color: #fff;
}
.userEditForm {
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    padding: 20px 15px;
    width: 100%;
    height: 100%;
	margin-top: 20px;
}
.userEditForm .search_form {
    position: relative;
}
.edit_profile {
    position: absolute;
    right: 0;
    top: 0;
    background: #C4C4C4;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
    padding: 0;
    display: block;
    line-height: normal;
    z-index: 9;
}
.edit_active, .edit_profile:hover {
    background: #24356C;
}
.userEditForm .row {
    margin: 0 -10px;
}
.userEditForm .row > div {
    padding: 0 10px;
    -ms-flex-preferred-size: inherit;
    flex-basis: inherit;
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
}
.with_210 {
    width: 210px;
}
.width_110 {
    width: 110px;
}
.with_255 {
    width: 255px;
}
.with_145 {
    width: 165px;
    margin: 0 auto;
}
.with_165 {
    width: 165px;
}
.margRt60 {
    margin-right: 60px;
}
.margRt15 {
    margin-right: 15px;
}
.margRt30 {
    margin-right: 30px;
}
.form_lbl {
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: #C4C4C4;
    margin-bottom: 15px;
}
.paddLft15 {
    padding-left: 15px;
}
.margBtm22 {
    margin-bottom: 22px;
}
.userEditForm .form-control {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #8F8F8F;
}
.userEditForm input.form-control {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 3px 15px 7px;
    height: 32px !important;
}
.userEditForm select.form-control {
    font-size: 16px;
    line-height: 20px;
}
.userEditForm input.form-control[readonly] {
    box-shadow: none;
}
.uploadFile {
    position: relative;
}
.uploadFile .form-control {
    opacity: 0;
    position: relative;
    z-index: 999;
}
.uploadFile .white_btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}
/*===== Users-details page css end here =====*/

/*===== Users-edit page css start here =====*/
.prifile_btn {
    margin-top: 20px;
}
.prifile_btn .btn:first-child {
	margin-right:35px;
}
.prifile_btn .btn {
    display: inline-block;
    min-width: 136px;
}
.close_icon {
    line-height: 9px;
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    color: #8F8F8F;
}
.cancel_btn .close_icon {
    vertical-align: middle;
    line-height: 5px;
    width: 15px;
    height: 15px;
    margin-right: 23px;
}
.prifile_btn .save_btn img {
    margin-right: 15px;
    vertical-align: top;
    position: relative;
    top: -1px;
}
/*===== Users-edit page css end here =====*/

/*===== Users-billing page css start here =====*/
.margin13 {
    margin: 0 -13px;
}
.margin13>div {
    padding: 0 13px;
    margin: 0;
}
.curntPlanBox {
    min-width: 190px;
}
.curntPlanBox span {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 12px;
    color: #C4C4C4;
    display: flex;
    align-items: center;
}
.curntPlanBox span a {
    margin-left: 25px;
}
.curntPlanBox span a img {
    margin-top: 2px;
}
.curntPlanBox h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #8F8F8F;
    margin: 10px 0 0;
}
.progPrice {
    margin: 8px 0 8px 15%;
}
.progPrice span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8F8F8F;
}
.progPrice span b {
    font-weight: 700;
}
.prog_barSec .prog_ress {
    height: 13px;
    margin-top: 0;
}
.users_billing {
    padding: 20px 30px;
    height: auto;
}
.w_22{
	width:22%;
}
.w_78{
	width:80%;
}
.mb_20{
	margin-bottom:20px;
}
.edit_icon{
	padding-left:15px;
}
.priceListingView {
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.priceListingView .label_list {
    width: 22%;
    padding: 15px 15px;
}
.priceListingView .w_32 {
    width: 32%;
}
.priceListingView label {
    display: block;
    text-align: right;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8F8F8F;
}
.priceListingView label span {
    font-weight: bold;
    color: #24356C;
    padding-left: 10px;
    min-width: 50px;
    display: inline-block;
    text-align: left;
}
.multiBtnSec {
    margin: 35px 0 5px;
}
.multiBtnSec .col {
    max-width: 22%;
}
.transBtn {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0 25px;
    color: #8F8F8F !important;
}
.downloadTxt img {
    margin-right: 13px;
}
.unpaidTxt {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #8F8F8F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unpaidTxt img {
    margin-left: 9px;
}
.skipTrace_tble {
    margin-top: 15px;
}
.skipTrace_tble .fileName {
    max-width: 270px;
    min-width: 270px;
}
/*===== Users-billing page css end here =====*/

/*===== Users-Activities page css start here =====*/
.activity_td {
    min-width: 200px;
    max-width: 200px;
    vertical-align: middle !important;
}
.detail_td{
	min-width: 410px;
    max-width: 410px;
}
.smsLogBtn .btn {
    width: 100%;
}
.smsLogBtn .row > div {
	min-width: 220px;
	max-width: 220px;
}
.date_pikr .form-control {
    padding: 6px 12px 8px 20px;
}
.date_pikr .input-group-append .btn {
    background: url(../img/calendar_gray.svg) no-repeat !important;
    background-position: center left 2px !important;
    background-size: 18px !important;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 0 50px 50px 0;
    outline: none !important;
    width: 32px;
    height: 34px;
    box-shadow: 4px 0px 10px -2px rgba(0, 0, 0, 0.1) !important;
    padding: 0;
}
.date_pikr .input-group-append .btn i.gj-icon {
    opacity: 0;
}

/*===== Users-Activities page css end here =====*/


/*===== users-sms-logs page css start here =====*/
.phoneNo {
    white-space: nowrap;
}
.billing_tble tr td p {
    text-align: left;
    min-width: 150px;
}
.totalSpentBox {
    padding: 15px;
}
.total_spent{
	-webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pastItemsList {
    margin-bottom:30px;
}
.pastItemsList ul{
	list-style:none;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pastItemsList ul li:not(:last-child) {
    margin-right: 18px;
}
.pastItemsList li a{
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: #C3C3C3;
	display:block;
}
.pastItemsList li.active a{
	font-weight: bold;
	color: #8F8F8F;
}
.smsent_box.align-items-end {
    position: relative;
    height: 100%;
}
.item_end {
    width: 100%;
}
.date_td {
    white-space: nowrap;
}

/*===== users-sms-logs page css end here =====*/

/*===== Users-Team page css start here =====*/
.teamTable .table tr td {
    white-space: nowrap;
    min-width: 100px;
}
.teamTable .table tr td:last-child {
    min-width: 250px;
    text-align: right;
}
.teamTable .btn {
    margin-left: 50px;
}

/* Custom checkbox css ===*/
.team_add {
    margin-top: 0;
}
.radio_cstm {
    position: relative;
    padding-left: 24px;
    margin: 0 30px 5px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8F8F8F;
}
.radio_cstm:last-child {
    margin-right: 0;
}
.radio_cstm input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radio_cstm .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #E4EAF0;
    border-radius: 50%;
}
.radio_cstm input:checked ~ .checkmark {
    background-color: #24356C;
}
.radio_cstm .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio_cstm input:checked ~ .checkmark:after {
    display: block;
}
.custom_checkbox .radio_cstm .checkmark {
    border-radius: 0;
}
.custom_checkbox .radio_cstm input:checked ~ .checkmark {
    background-color: #24356C;
}
.custom_checkbox .radio_cstm .checkmark:after {
    left: 5px;
    top: -5px;
    width: 8px;
    height: 13px;
    border: solid #C4C4C4;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(40deg);
    background: none;
    border-radius: 0;
}

.custom_radio h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #8F8F8F;
    margin: 0 0 15px;
}
.checkbox_row {
    max-width: 950px;
}
.custom_radio {
    margin-top: 25px;
}
.chekListHd {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8F8F8F;
    margin: 20px 0 15px;
    text-transform: uppercase;
}
.checkbox_row .radio_cstm {
    margin-right: 0;
    display: block;
    line-height: 20px;
}
/* Custom checkbox css ===*/

/*===== Users-Team page css end here =====*/

/*===== Task-Manager page css start here =====*/
.tsk_mngr tr td:first-child {
    min-width: 190px;
}
.task_manager select.form-control {
    background-color: #C3C3C3;
    background-image: url(../img/white_arrow.svg);
    background-position: center right 9px;
    color: #fff;
    font-size: 15px;
    border-color: #C3C3C3;
}
.task_manager .select_width {
    max-width: 235px;
}
.task_manager select.form-control {
    background-color: #C3C3C3;
    background-image: url(../img/white_arrow.svg);
    background-position: center right 9px;
    color: #fff;
    font-size: 15px;
    border-color: #C3C3C3;
    padding: 4px 30px 8px 15px;
}
.message_back {
    background: url(../img/message.svg)no-repeat;
    min-width: 39px;
    min-height: 34px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    background-size: cover;
    line-height: 29px;
}
.blank_msg {
    background: url(../img/message_light.svg)no-repeat;
}
.progress_custom .progress {
    display: flex;
    height: 32px;
    background-color: #C3C3C3;
    border-radius: 50px;
    position: relative;
    width: 170px;
	margin: 0 auto;
}
.progress_custom .progress-bar {
    position: relative;
    background: #24356C;
    transform: skewX(-12deg);
}
.progress_custom .sr-only {
    position: static;
    width: 100%;
    clip: auto;
    white-space: nowrap;
    -webkit-clip-path: none;
    clip-path: none;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    left: 0;
    right: 0;
    height: 100%;
    color: #fff;
	align-items: center;
    display: flex;
    justify-content: center;
}
.progress_custom .progress-bar .sr-only {
    transform: skewX(12deg);
}
.pend_bar .progress-bar{
	background: #C3C3C3;
}
.pend_bar .progress-bar, .pend_bar .progress-bar .sr-only, .close_bar .progress-bar, .close_bar .progress-bar .sr-only {
    transform: skewX(0deg);
}
.table_button {
    height: 30px;
    width: 30px;
    background: #C3C3C3;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fff !important;
    font-weight: 700;
    line-height: 29px;
    position: relative;
}
span.full_name {
    position: absolute;
    background: rgba(54, 131, 188, 0.4);
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    border-radius: 4px;
    line-height: 20px;
    left: 0;
    top: 36px;
    display: none;
    text-transform: uppercase;
    min-width: 110px;
}
span.full_name::before {
    position: absolute;
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid rgba(54, 131, 188, 0.4);
    top: -5px;
}
a.table_button:hover .full_name {
    display: block;
}
.tsk_mngr  .btn, .spam_tble .btn {
    min-width: 110px;
    border: none;
    padding: 6px 15px;
    height: 32px;
}
.medium_btn {
    background: rgba(36, 53, 108, 0.7);
}
.low_btn{
	background: #C3C3C3;
}
/*===== Task-Manager page css end here =====*/

/*===== System-logs page css start here =====*/
.sys_log {
    padding: 20px 25px;
}
.sys_log .maxWidth11 {
    margin-left: 25px;
}
.bounced_tip {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    color: #8F8F8F;
}
.bounced_tip span {
    position: absolute;
    padding: 2px 0;
    left: 0;
    top: 25px;
    display: none;
    text-transform: uppercase;
    width: 32px;
    background: rgba(36, 53, 108, 0.4);
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    height: 20px;
}
.bounced_tip:hover span{
	display:block;
}
.bounced_tip span:before {
    position: absolute;
    content: "";
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid rgba(36, 53, 108, 0.4);
    top: -5px;
    right: 8px;
}
/*===== System-logs page css end here =====*/

/*===== System-logs-details page css start here =====*/
.sysLog_tble tr td {
    vertical-align: middle;
    white-space: nowrap;
}
.sysLog_tble .table tr td:last-child {
    min-width: inherit;
}
.msg_des {
    min-width: 350px;
    white-space: normal !important;
}
.info_icon {
    color: #8F8F8F;
}
.info_icon img {
    min-width: 18px;
    margin-right: 7px;
}
/*===== System-logs-details page css end here =====*/


/*===== Phones page css start here =====*/

.phones_cntnt {
    padding: 20px;
}
.paddLeft20{
	padding-left:20px;
}
.smsLogBtn .phonesRow > div {
    min-width: 180px;
    max-width: 180px;
}
.smsLogBtn .phonesRow .autorecSec {
    min-width: 360px;
    max-width: 360px;
}
.smsLogBtn .phonesRow .statusCol {
    min-width: 155px;
    max-width: 155px;
}
.smsLogBtn .phonesRow .search_smdiv {
    min-width: 260px;
    max-width: 260px;
}
.row_gap12{
	margin:0 -12px;
}
.row_gap12>div{
	padding:0 12px;
}
.autorecSec h4 {
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #8F8F8F;
    margin: 0;
}
.autorecSec .custom_radio {
    margin: 0 0 0 13px;
}
.autorecSec .radio_cstm {
    padding-left: 18px;
    margin: 0 16px 5px 0;
}
.autorecSec .radio_cstm:last-child {
    margin-right: 0;
}
.noBgBtn {
    background: none !important;
    border: none !important;
    outline: none !important;
    padding: 0 !important;
	margin:0 10px;
}
.smsLogBtn .marketRow .autorecSec {
    min-width: 455px;
    max-width: 455px;
}
.smsLogBtn .marketRow .add_market{
	min-width: 200px;
    max-width: 200px;
}
.deleteBtn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
/*===== Phones page css end here =====*/

/*===== Accounting page css start here =====*/
.account_sec .right_cntnt {
    padding: 30px 15px 30px 30px;
}
.account_sec.mainpadd230 .right_cntnt {
    padding: 30px 15px 30px 20px;
}
.total_income {
    min-width: 185px;
    margin-left: 25px;
    max-width: 185px;
}
.total_income .btn {
    position: relative;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 15px;
}
.total_income .btn img {
    position: absolute;
    left: 15px;
    margin: 0;
    top: 5px;
}
.smsent_box h4 a {
    margin-left: 10px;
}
.dash_month .plan_down {
    margin: 0 7px 0 0;
    vertical-align: top;
    display: inline-block;
}
.dash_month .plan_down:before{
	display:none;
}
.service_type h5 {
    margin-bottom: 15px;
}
.service_type .progrList:not(:last-child) {
    margin-bottom: 45px;
}
.service_type .prog_ress {
	overflow: visible;
}
.service_type .prog_ress .progress-bar{
	position: relative;
}
.service_type .progress-bar span {
    position: absolute;
    top: -25px;
    z-index: 999;
    right: 5px;
    font-family: 'BebasNeue-Regular';
    color: #24356C;
    font-size: 15px;
    font-weight: 500;
}
.service_type .progrList label {
    white-space: nowrap;
    text-align: right;
}
/*===== Accounting page css end here =====*/

/*===== Pricing page css start here =====*/
.pricing_sec {
    max-width: 1150px;
}
.price_div {
    margin: 0;
}
.price_div a.qus_icon {
    margin-left: 80px;
}
.price_div .label_list {
    width: 100%;
    padding: 0;
}
.month_head {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #24356C;
    margin-bottom: 30px;
}
.price_div .label_list .d-flex {
    margin-bottom: 10px;
}
.price_div .label_list label {
    text-align: left;
    min-width: 100px;
}
.price_div .label_list span {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: #8F8F8F;
    font-family: 'BebasNeue-Regular';
    min-width: 50px;
    text-align: right;
}
.price_div .label_list .edit_icon {
    opacity: 0.7;
    min-width: 14px;
    padding: 0;
    margin-left: 30px;
    line-height: 0;
}
.prifile_btn .input_form {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    max-width: 102px;
    text-align: center;
    margin: 0 25px;
    padding: 4px 10px 8px;
}
.marginT50 {
	margin-top:50px;
}
/*===== Pricing page css end here =====*/

/*===== Coupons page css start here =====*/
.search_lg {
    max-width: 535px;
}
.search_lg .search_lg {
    height: 50px !important;
}
.marginL15{
	margin-left:15px;
}
.searchUsr .col {
    max-width: 565px;
}
.searchUsr .select_width {
    max-width: 265px;
}
/*===== Coupons page css end here =====*/

/*===== SPAN-Words page css start here =====*/
.spam_tble .medium_btn {
    background: #8F8F8F;
}
/*===== SPAN-Words page css end here =====*/

/*===== Setting page css start here =====*/
.btnCerter {
    max-width: 480px;
    text-align: center;
}
/*===== Setting page css end here =====*/
/*===== Broadcasting-manager page css start here =====*/
.search_act .search_lg {
    max-width: 100%;
}
.broad_cast .custom_radio {
    margin-top: 0;
}
.broad_cast .radio_cstm{margin: 0 15px 5px 0;}
.select_usr {
    max-width: 145px;
	min-width: 145px;
}
.broad_cast .date_pikr {
    min-width: 230px;
	max-width: 230px;
}
.status_radio {
    max-width: 420px;
}
.cast_tble .noBgBtn {
    min-width: 22px;
    margin: 0;
    opacity: 0.5;
    cursor: pointer;
}
.cast_tble .table tr td:last-child {
    min-width: inherit;
}
.cast_tble .table tr td {
    white-space: nowrap;
}
.cast_tble .table tr td:nth-child(2) {
    white-space: normal;
}
.cast_tble .table tr td .span_des {
    max-width: 270px;
    display: inline-block;
    min-width: 270px;
    font-size: 15px;
}
.cast_tble .table .bold_text td {
    font-weight: bold;
}
.cast_tble .bold_text .noBgBtn {
    opacity: inherit;
}
.clndr_box {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    position: relative;
    height: calc(100% - 140px);
    margin-top: 50px;
}
.calender1 {
    padding: 20px;
    border-bottom: 1px solid #C3C3C3;
}
.month ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.month .prev, .month .next {
    color: #8392A5;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 15px;
}
.month .monthTxt {
    padding: 10px;
    background: #E4EAF0;
    border-radius: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: #8F8F8F;
    width: 100%;
    white-space: nowrap;
}
.weekdays {
    padding: 8px 0;
}
.weekdays li {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.666667px;
    color: #8F8F8F;
    width: 14%;
}
.days {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    text-align: center;
    cursor: pointer;
    font-size: 9px;
    line-height: 11px;
    color: #8F8F8F;
    padding: 8px 5px;
	margin: 1px 0;
}
.days li.holiday {
    background: #24356C;
}

.writemessage {
    background: #fff;
    width: 100%;
    padding: 20px 10px;
}
.writemessage h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #24356C;
    margin: 0 0 40px;
}
.relative-content textarea {
    width:100%;
    border: none;
    resize: none;
    outline: none !important;
    font-size: 18px;
    line-height: 22px;
    color: #8F8F8F;
	height:120px;
}
.relative-content a {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}
.progress_bar_con .prog_ress {
    margin-right: 10px;
    height: 8px;
}
.writemessage .custom_radio {
    margin: 25px 0 20px;
}
.writemessage .radio_cstm:not(:last-child) {
    margin: 0 10px 5px 0;
}
.writemessage .radio_cstm {
    padding-left: 15px;
}
.quick_reply .btn {
    width: 48%;
	padding: 7px 10px;
}
.quick_reply .white_btn img {
    max-width: 17px;
}
/*===== Broadcasting-manager page css end here =====*/
.yMDay div:not(:last-child) {
    margin-right: 5px;
}
.yMDay div {
    white-space: nowrap;
}
.yMDay h4,.yMDay span {
    display: inline-block;
}
.yMDay span {
    vertical-align: text-bottom;
    margin-left: 3px;
}
@media (max-width:1366px){
.side_menu {
    padding: 20px 9px 80px;
}
.side_menu li {
    margin-bottom: 10px;
}
.total_spent p {
	font-size: 13px;
}
.smsent_box .total_spent .text-right span {
	margin-left: 3px;
}
.pastItemsList ul li:not(:last-child) {
	margin-right: 13px;
}
.teamTable .btn {
	margin-left: 10px;
}

}

@media (max-width:1199px){
.header .navbar-brand {
    margin-right: 10px;
}
.dash_board .right_cntnt, .dash_board.mainpadd230 .right_cntnt {
    padding: 40px 15px 20px;
}
.row_gap48 {
    margin: 0 -10px;
}
.row_gap48 > div {
    padding: 0 10px;
}
.header .breadcrumb-item a, .header .breadcrumb-item {
    font-size: 12px;
}
.header .breadcrumb-item+.breadcrumb-item::before {
    margin: 0 6px;
}
.account_sec .right_cntnt {
    display: block !important;
}
}

@media (max-width:991px){
.header .navbar-brand {
    padding: 10px 15px 10px 10px;
	height: 63px;
}
.expander_icon {
    width: 25px;
    left: 77px;
    right: auto;
    margin: 0;
    bottom: auto;
    top: 15px;
}
.header .navbar-collapse {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
}
.header .breadcrumb {
    padding: 0 15px;
}
.header .navbar-nav li {
    padding: 6px 15px !important;
    border-top: 1px solid #ececec;
}
.breadcrumb-item a img {
    max-width: 16px;
    margin-top: -2px;
}
.header .breadcrumb-item+.breadcrumb-item::before {
    margin: 0 6px 0 3px;
    vertical-align: middle;
}
.header .navbar-nav > li .nav-link > img {
    max-height: 20px;
    max-width: 22px;
}
.header .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
    left: 0;
    min-width: 280px !important;
    right: 0;
	max-width: 100%;
}

.side_bar {
    left: -75px;
    top: 60px;
	height: calc(100vh - 60px);
}
.sidebar_full {
    left: 0;
}
.side_menu li a .menu_cricle {
    width: 35px;
    height: 35px;
    margin: 0 40px 0 7px;
}
.side_menu li a .menu_cricle img {
    max-width: 20px;
    max-height: 20px;
}
.main_sec, .mainpadd230 {
    padding: 60px 0 0 0 !important;
}
.dash_board .row_gap48:not(:last-child) {
    margin-bottom: 0;
}
.smsent_box, .chart_box {
    padding: 10px;
    height: 100%;
}
.row_gap48 > div {
    padding: 10px;
	margin: 0;
}
.search_act .search_lg {
    min-width: 200px;
}
.right_cntnt {
    padding: 20px 15px;
}
.header .navbar-brand {
    width: 63px;
}
.header .logo_brand .logo{
    visibility: visible;
    opacity: inherit;
    width: auto;
}
.header .logo_brand .logo_full {
    display: none;
}
.font18 {
    font-size: 14px;
}
.priceListingView .label_list {
	width: auto;
    padding: 5px;
}

}

@media (max-width:767px){
.perfom_btn .btn {
    margin: 0 2px 5px;
}
.perfom_btn {
    display: block !important;
    text-align: center;
}

.header .navbar-nav .notifi {
    padding-top: 12px !important;
}
.smsent_box h4 {
    font-size: 24px;
}
.service_type h5 {
    margin-bottom: 25px;
}
.total_income {
    max-width: 100%;
    margin: 15px 0 0;
}
.total_income .btn {
    margin-bottom: 10px;
}
.broad_cast .row > div, .searchAdmin .row > div {
    min-width: 100%;
}
.broad_cast .custom_radio {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.user_table tr td {
    padding: 15px 10px;
}
.calender1 {
    padding: 10px;
}
.sett_row {
    display: block !important;
}
.setting_mnu {
    max-width: 100%;
}
.right_box {
    width: 100%;
}
.setting_mnu ul li {
    width: 50%;
    padding: 0 5px;
	margin-bottom: 10px;
}
.setting_mnu > ul {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.edit_profile {
    right: -5px;
    top: -10px;
}
.form_lbl, .userEditForm .form-group {
    margin-bottom: 7px;
}
.with_210, .with_255, .with_145 {
    width: 100%;
}
.margRt60, .margRt15 {
    margin-right: 0;
}
.prifile_btn .btn:first-child {
    margin: 0 0 15px;
}
.smsLogBtn .phonesRow .search_smdiv, .smsLogBtn .marketRow .autorecSec, .smsLogBtn .phonesRow .autorecSec, .smsLogBtn .phonesRow .statusCol, .smsLogBtn .row > div {
    min-width: 100%;
    max-width: 100%;
	display: block !important;
}
.paddLeft20 {
    padding-left: 0;
}
.table_data tr th, .table_data tr td{
	font-size: 14px;
	padding: 10px;
}
.users_serch {
    margin-top: 15px;
}

.autorecSec .custom_radio {
    margin: 10px 0 0 0;
}
.marginT50 {
    margin-top: 20px;
}
.prifile_btn {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.prifile_btn .input_form{
	margin: 0 10px 0 0;
}
.sys_log .maxWidth11 {
    margin-left: 0;
}
.prifile_btn {
    text-align: center;
}
.users_billing {
    padding: 10px;
}
.userEditForm .search_form .d-flex {
    display: block !important;
}
.margin13 {
    margin: 0;
}
.margin13>div {
    padding: 0;
    width: 100%;
}
.priceListingView{
	margin: 0;
}
.priceListingView .label_list {
    width: 100%;
    padding: 5px;
}
.priceListingView label{
	font-size: 14px;
}
.curntPlanBox h3{margin: 10px 0;}
.multiBtnSec .col {
    max-width: 100%;
	padding: 0;
}
.transBtn{padding: 0;}
.billing_tble tr td:first-child {
    min-width: 135px;
}
.multiBtnSec .col:last-child {
    min-width: 195px;
}
.yMDay {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.yMDay h4 {
    margin-bottom: 0;
}
}